@charset "utf-8";
/* CSS Document */
#lhz_table-box{ width: 1000px; height:300px; border:1px #003399 solid;}
#lhz_table-box #tb-data-show ul{ clear:both;}
#lhz_table-box #tb-data-show ul li{ float:left;}

#tb-data-show table{ width:100%;}
#tb-data-show td{ border:1px #CCCCCC solid;}


