@charset "utf-8";
/*pop-dialog*/
.pop-dialog {
	width: 500px;
	height: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -100px auto auto -250px;
	background: none repeat scroll 0 0 #FFFFFF;
	border-radius: 8px 8px 8px 8px;
	z-index: 1032;
	border: 1px #A3C6C8 solid;
}
.addNewForm ul {
	margin: 10px;
}
.addNewForm li {
	margin-bottom: 10px;
}
.addNewBtns {
	text-align: right;
}
.addNewBtns a {
	display: inline-block;
	width: 60px;
	height: 20px;
	text-align: center;
	margin-right: 10px;
	background: #0000FF;
	color: #F1F1F1;
}
.addNewForm input[type='text'] {
	height: 20px;
	line-height: 20px;
	width: 200px;
}
.addNewForm textarea {
	height: 80px;
	line-height: 20px;
	width: 200px;
}
.lhz-showPrompt{ position: absolute; top:1px; right: 30px; background: #AB1E1E; color:#F1F1F1; padding: 2px 3px; }
.lhz-table-box {
	width: 100%; position:relative;
	border: 1px #f1f1f1 solid;
}
.lhz-table-box .lhz-data-show ul {
	clear: both;
}
.lhz-table-box .lhz-data-show ul li {
	float: left;
}
.lhz-table-box .lhz-data-show table {
	width: 98%;
}
.lhz-table-box .lhz-data-show td {
	border: 1px #CCCCCC solid;
}
.lhz-table-box .lhz-data-show thead td {
	text-align: center;
}
.update_btn,.cancel_btn {background:#939393;padding: 3px; margin-left: 5px; color: #F1F1F1;}
.update_btn:hover,.cancel_btn:hover {color: #F1F1F1;}
